#main-header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 20rem; 
    height: 10rem; 
    border-radius: 10px;
  }
.red-box{
    background-color: #fac597;
}
.blue-box{
    background-color: #a4fbff;
}